.right-side {
      
        height: 80%;
       position: absolute;
       /* bottom: 0;*/
        right: 60px;
        /* width: 55%;
        height: 63%; */
        bottom: 330px;
}

.right-side img {
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform: translate(-70%);
        transition:  bottom 1s left 1s;
}

.right-side:hover .shape {
        bottom:  -40px;
}

.right-side:hover .brand {
        left: 58%;
}


